nav {
  div.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  img.logo {
    width: 200px;
  }
  .nav-link {
    font-weight: 700;
  }
  .button-btn {
    // @include button-outline-variant(
    //   $color: $primary,
    //   $active-background: $primary,
    //   $active-border: $white
    // );
    margin: 1.5em;
    // border-color: $white;
  }
}

$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;
$navbar-light-active-color: $secondary;
