.school_name {
  &-1 {
    font-size: 4.6rem;
    font-family: "Forum";
  }
  &-2 {
    font-weight: 400;
  }
}

.landing {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 15%;
  justify-content: space-between;
  margin-bottom: 12em;
  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &-info {
    width: 50%;
    margin: 0 2em;
    // position: relative;
    p {
      color: $secondary;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 175%;
      text-align: justify;

      margin-top: 2.5em;
    }
  }
  &-img {
    height: 100%;
    width: 40%;
    margin: 0 2em;
    margin-top: 1.5em;
    img {
      width: 100%;
      border-radius: 21px;
      box-shadow: 18px 29px 50px 1px rgba(0, 0, 0, 0.25);
    }
  }
  &-button {
    margin-top: 1em;
  }
}

.headmaster {
  &__container {
    width: 100%;
    height: auto;
    margin-bottom: 12.5em;
    background: rgba(3, 215, 228, 0.06);
    padding: 2em;
    padding-bottom: 5em;
    border-radius: 20% 0px 20% 0px;
  }
  width: 70%;
  margin: 0 auto;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__img {
    padding-right: 1em;
  }
  &__name {
    color: $secondary;
    margin-bottom: 1.4em;
    text-align: center;
    padding-left: 1.3em;
    &__tag {
      font-size: 1.5rem;
      color: rgba(69, 68, 67, 0.7);
      margin-bottom: 0.5em;
    }
  }
  &__speach {
    margin: 0 auto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    line-height: 175%;
  }
}

.outstanding-student {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__container {
    background: rgba(3, 215, 228, 0.06);
    width: 100%;
    // margin-bottom: 12.5em;
    &-boy {
      border-top-left-radius: 20%;
    }
    &-girl {
      border-bottom-right-radius: 20%;
    }
  }
  &__speach {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 4.73em;
    p {
      font-weight: 500;
      font-size: 1.33rem;
      line-height: 175%;
      text-align: left;
      margin-bottom: 3em;
    }
  }
  &__img {
    padding-right: 5em;
  }
  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 1.73rem;
    text-align: right;
  }
  &__tag {
    font-size: 1.3rem;
    color: rgba(69, 68, 67, 0.6);
  }
}

.moto {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: $primary;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
  }
  &__poem-box {
    margin: 5em auto;
    box-shadow: 0px 1px 50px rgba(65, 62, 62, 0.4);
    border-radius: 5px;
    width: 35%;
    padding: 1.5em;
  }
  &__poem {
    font-family: "Padauk";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    color: $secondary;
    text-align: center;
  }
}

.teaching-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10em 5em;
  .teaching-section__info {
    text-align: center;
    width: 40%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.13rem;
    line-height: 175%;
    padding: 3em;
    background: rgba(255, 255, 255, 0.59);
    box-shadow: 0px 1px 80px rgba(23, 148, 165, 0.4);
    border-radius: 5px;
  }
}

.teaching-section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.59);
  box-shadow: 0px 1px 50px rgba(23, 148, 165, 0.4);
  padding: 4em 3em;
  border-radius: 5px;
  &__info {
    width: 45%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.23rem;
    text-align: left;
    line-height: 175%;
    color: $secondary;
  }
}

.bordering {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10em;
  &__info {
    width: 60%;
    text-align: center;
    padding: 2em 0;
    position: relative;
    p {
      margin: 1em;
      font-style: normal;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 175%;
      color: $secondary;
    }
    h3 {
      font-size: 1.8rem;
    }
  }
  &__extra {
    position: absolute;
    top: 130;
    right: -50;
    z-index: -1;
    opacity: 0.6;
  }
}
