.school_name {
  &-1 {
    font-size: 4.6rem;
    font-family: "Forum";
  }
  &-2 {
    font-weight: 400;
  }
}

.landing {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 14%;
  justify-content: space-between;
  margin-bottom: 8em;
  &-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
  &-info {
    width: 50%;
    margin: 0 4em;
    // position: relative;
    p {
      color: $secondary;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 500;
      line-height: 175%;
      text-align: justify;

      margin-top: 2.5em;
    }
  }
  &-img {
    height: 100%;
    width: 40%;
    margin: 0 2em;
    margin-top: 1.5em;
    img {
      width: 100%;
      border-radius: 21px;
      box-shadow: 18px 29px 50px 1px rgba(0, 0, 0, 0.25);
    }
  }
  &-button {
    margin-top: 1em;
  }
}
