// fonts
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Padauk:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
@import "../../node_modules/bootstrap/scss/functions";

// colors
$primary: #1794a5;
$secondary: #454443;
$pale-green: hsl(194, 49%, 90%);
$headings-color: $primary;

// Required
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/mixins";

:root {
  font-size: 15px;
}

// abstracts
* {
  margin: 0;
  padding: 0;
}

// typography
* {
  font-family: "Poppins";
}

// base
@import "./layouts";
@import "./mixins";
@import "./components/nav";
@import "./components/button";
@import "./components/polygons";
@import "./components/eclipse";
@import "./components/rectangular";
@import "./components/smallthings";

// pages
@import "pages/home";
@import "pages/services";
@import "pages/activities";
@import "pages/about-us";
@import "pages/footer";

// bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

// html {
//     overflow: scroll;
//     overflow-x: hidden;
// }
// ::-webkit-scrollbar {
//     width: 0;  /* Remove scrollbar space */
//     background: transparent;  /* Optional: just make scrollbar invisible */
// }
::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}

/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  // background-color: rgba(69, 68, 67, 0.2);
  background-color: rgba(23, 148, 165, 0.1);
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #86c8bc;

  border: 0.2vw solid hsl(169, 37%, 80%);
  border-radius: 10vw;
}
